/* root setting of variable */

:root{
    --section-spacing:3.5rem;
    --padding-spacer-300:1rem;
    --padding-spacer-400:1.5rem;
    --padding-spacer-500:2rem;

    --margin-gap-400:1em;
    --margin-gap-500:2em;
    --margin-gap-600:3em;

    --border-radius-300:1rem ;
    --border-radius-400:1.5rem ;


    --color-primary-300:#282c7542;
    --color-primary-500:#282c75;
    --color-primary-900:#1b1a22;
    --color-accent-500:#f0e550f3;
    --color-accent-300: rgb(240, 252, 252);
    --color-neutral-900:#000;
    --color-neutral-100:#fff;
    --color-hover-100:rgba(255, 255, 255, 0.397);

    --box-shadow: 0 0 1em rgba(102, 60, 180, 0.15);
    

     --font-family-primary:Georgia, 'Times New Roman', Times, serif;
    --font-family-secondry:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --font-size-300:.9rem;
    --font-size-500: 1rem;
    --font-size-600: 1.25rem;
    --font-size-700: 1.5rem;
    --font-size-800: 2rem;
    --font-size-900: 3rem;
    
    --font-weight-500: 300;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;

    --box-shadow: ;

    --font-family-heading: var(--font-family-primary);
    --font-family-body: var(--font-family-secondry);

    --font-size-heading:var(--font-size-600);
    --font-size-body:var(--font-size-500);
    --font-size-nav:var(--font-size-800);
    --font-size-button:var(--font-size-500);
    
}

/* media quary */

@media (min-width: 45em) {
  :root{
    --font-size-heading:var(--font-size-700);
    --font-size-body:var(--font-size-600);
    --font-size-nav:var(--font-size-800);
    --font-size-button:var(--font-size-700);
  }
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, paddling and font */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  z-index: -2;
}

/*reset height for body and html*/

html,
body{
    min-height: 100%;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions
 and smooth scroll for people that
prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility class */

.text-nautral-100{
  color:var(--color-neutral-100)
}
.text-nautral-900{
  color:var(--color-neutral-900)
}
.text-primary-500{
  color: var(--color-primary-500)
}

.bg-nautral-100{
  color: var(--color-neutral-100)
}
.bg-nautral-900{
  color: var(--color-neutral-900)
}
.bg-primary-500{
  color: var(--color-primary-500)
}

.font-size-500{
  font-size: var(--font-size-500) ;
}
.font-size-600{
  font-size: var(--font-size-600) ;
}
.font-size-700{
  font-size: var(--font-size-700) ;
}
.font-size-800{
  font-size: var(--font-size-800) ;
}
.font-size-900{
  font-size: var(--font-size-900) ;
}


.font-weight-300{
  font-weight: var(--font-weight-300);
}
.font-weight-500{
  font-weight: var(--font-weight-500);
}
.font-weight-700{
  font-weight: var(--font-weight-700);
}
.font-weight-900{
  font-weight: var(--font-weight-900);
}

.gap-300{
  padding-block: 1em;
}

.gap-400{
  padding: 1.5em;
}

.gap-500{
  padding-left: var(--padding-spacer-500);
  
}

.container{
  --max-width:1000px;
  --container-padding:var(--padding-spacer-500);
  width:min(var(--max-width), 100% - var(--container-padding));
  margin-inline:auto;
}

.even-colums{
  display: flex;
  flex-direction: column;
}

@media (min-width:45em) {
  .even-colums{
    flex-direction: row;
  } 
  
}

section{
  margin-bottom: var(--section-spacing);
}
.hover{
  transition:background-color 0.5s ;
}
.hover:hover,
.hover:focus-within{
  background-color: var(--color-primary-300);
  color:var(--color-hover-100);
  border-radius: var(--border-radius-300);
}

.underline{
  position: relative;
}
.underline::after{
  position: absolute;
  content: "";
  left: 0;
  top: 1.2em;
  width: 0;
  height: 2px;
  background-color: #343997;
  transition: width .5s;
}
.hover:hover .underline::after{
  width: 90%;
}
/****** General styling *****/

/* global styling */

body{
  font-size: var(--font-size-600);
  font-family: var(--font-family-body);
  color: var(--color-neutral-900);
  line-break: auto;
  background-color: var(--color-neutral-100);
}
@media (min-width:700px) and (max-width:1000px) {
  body{
    font-size: var(--font-size-500);
  }
}

h2{
  font-size: var(--font-size-800);
  font-weight: var(--font-weight-900);
  color: var(--color-primary-500);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
h3{
  font-family: var(--font-family-heading);
  text-decoration: underline;
  color: var(--color-neutral-900);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-700);
}

/* logo */
.logo a{
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  font-weight: var(--font-weight-900);
}

.logo-design{
  margin-left: -1em;
  width: 2rem;
  border: 2px solid #282c75;
  color: #282c75;
  aspect-ratio: 1;
  border-radius: 100%;
}
.first-letter-logo{
  font-size: var(--font-size-600);
  padding-left: 5px;
}
.second-letter-logo{
  font-size: var(--font-size-300);
  margin-left: -13px;
}
.logo-profile-name{
  font-size: var(--font-size-300);
  padding-top: 10px;
  margin-left: 5px;
  text-shadow: 1px .1px #000;
}


/* navigation */

.navigation{
  background-color: var(--color-neutral-100);
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 200;
  box-shadow: 0 0 1em rgba(42, 19, 68, 0.15);
}
.nav-list a{
  font-family: var(--font-family-heading);
  list-style: none;
  text-decoration: none;
  margin: var(--padding-spacer-300);
  color: var(--color-primary-500);
}


@media (min-width:45em) {
  .nav-list{
    justify-content: space-between;
    padding-top: .5em;
  }
  
}

.primary-navigation{
  justify-content: space-between;
  padding: var(--padding-spacer-500);
}
.screen-reader-only{
  display: none;
}

.nav-list{
  justify-content: space-between;
  padding-left: var(--padding-spacer-400);
}
.mobile-nav-toggle{
  display: none;
}

@media (max-width:45em) {
  .nav-list{
    text-align: center;
    background: var(--color-neutral-100);
    box-shadow: 0 0 1em rgba(42, 19, 68, 0.15);
    border-bottom-left-radius: var(--border-radius-300);
    border-bottom-right-radius: var(--border-radius-300);
    position: fixed;
    top:  7rem;
    left: 1px;
    right: 1px;
    padding-block: var(--padding-spacer-200) 1rem;
    max-height: 90vh;
    justify-content: center;
    transform: translateY(-140%);
    transition: transform 500ms ease-in;
    transition-delay: 50ms;
    z-index:900;
  }
  .nav-bar [aria-expanded="true"]{
    display: none;
  }
  .nav-bar [data-visible = "true"]{
    transform: translateY(-5%);
  }
  .nav-list li{
    padding:1.2rem min(3.5rem, 6rem);
    border-bottom: 1px solid var(--color-primary-500);
    margin-inline: auto;
  }
  
  .mobile-nav-toggle{
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 1em rgba(102, 60, 180, 0.15);
    opacity: .7;
    border-radius: .5rem;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index:90000;
  }
  .mobile-nav-toggle:focus-visible,
  .mobile-nav-toggle:hover{
    border: 0;
  }

  .fa-close{
    display: none;
  }


  .fa-close, .fa-bars{
    color: var(--color-primary-500);
  }

  .mode-styling{
    width: 1.5em;
    margin: 1em auto;
    padding: 0;
  }
}

@media (min-width:45em) {
  .mode-styling{
    margin: .2em 1em;
  }
}
  
.mode-styling [data-visible="false"]{
  display: none;
}
.fa-toggle-off,.fa-toggle-off {
  color: #282c75;
}


/* hero profile */

.hero{
  margin-top: 6.7rem;
  background-color: var(--color-accent-300);
  padding-block: var(--padding-spacer-500);
}

.hero-avater{
  border-top-left-radius: var(--border-radius-400);
  border-top-right-radius: var(--border-radius-400);
  margin-bottom: var(--margin-gap-500);
}
.hero-title{
  background-color: var(--color-primary-500);
  color: #eee;
  padding: var(--padding-spacer-500);
  flex-direction: column;
  justify-content: center;
  border-radius: .6rem ;
}

@media (min-width:45em) {
  .hero{
    padding: var(--padding-spacer-500);
    margin-right: var(--margin-gap-400);
    border-top-right-radius: var(--border-radius-300);
    border-bottom-right-radius: var(--border-radius-300);
  }
  .hero-avater{
    border-top-right-radius: 0rem;
    margin-bottom: 0;
    flex-basis: 50%;
  }  
  .hero-title{
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius-400);
    flex-basis: 50%;
  }
}
.hero-title h1,
.about-me h1{
  color: var(--color-accent-500);
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-900);
}
@media (min-width:57em) {
  .hero-title h1{
    font-size: var(--font-size-800);
  }  
}

/* skills */
.skills-container-bg{
  background-color: var(--color-accent-300);
}
.skills-container-bg h2{
  padding-top: 1em;
}
.skills-container-bg .container{
  padding-bottom: 5em;
}
.skills-list{
  margin-top: var(--margin-gap-400);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 20px;
}
.skills-item{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 3px;
  transition:background-color 0.6s ;
  transition: transform 0.6s;
}
.skills-item:hover{
  background-color: var(--color-neutral-100);
  box-shadow: 0 0 1em rgba(102, 60, 180, 0.15);
  transform: scale(1.3);
}
.skills-list i{
  font-size: 70px;
  color: #282c75;
}

/* components */

/* button */
.button{
  cursor: pointer;
  outline:none;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  line-height: 1;
  padding: .7em 1.1em;
  background-color: var(--color-primary-500);
  color: #eee;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-button);
  margin-top: var(--margin-gap-500);
}

.button[data-type="inverted"]{
  background-color: var(--color-neutral-100);
  color: var(--color-primary-500);
}

.button a {
  text-decoration: none;
}
.cta .button {
  font-size: var(--font-size-300);
  margin-top: 0;
  background-color: var(--color-neutral-100);
  color: var(--color-primary-500);
}


/* projects */
.p-page{
  margin-top: 5em;
}
.project{
  position: static;
}

.project-list{
  margin-top: var(--margin-gap-400);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 20px;
}
.project-items{
  position: relative;
  overflow: hidden;
  padding: var(--padding-spacer-300);
  border-radius: var(--border-radius-300);
  box-shadow: 0 0 1em rgba(102, 60, 180, 0.15);
  transition: tramsform 0.5s;
}
.project-items img{
  width: 100%;
  display: block;
}
.project-items:hover {
  transform: scale(1.05);
}

.layer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: var(--border-radius-300);
  color: var(--color-neutral-100);
  background-color: #282c75b6;
  transition: height 0.5s;
}
.project-items:hover .layer{
  height: 100%;
  padding: var(--padding-spacer-300);
}
.layer h3{
  margin-bottom: .1em;
  color: var(--color-neutral-100);
}
@media (min-width:45em) {
  .layer h3{
    margin-bottom: .3em;
  }  
}

.layer p{
  font-size: 14px;
}
.layer .project-links{
  display: flex;
}
.project-links a {
  cursor: pointer;
  text-decoration: none;
  font-style: italic;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-700);
  color: #fff;
  padding: 5px 4px 0;
}
.f-s-700 {
  padding-right: 3px;
  font-size: var(--font-size-500);
}

@media (min-width:45em) {
  .project-links a {
    padding: 3em 4em 0;
  }
  .f-s-700 {
    padding-right: 5px;
    font-size: var(--font-size-700);
  }    
}


/* cta */
.cta{
  background-color: var(--color-primary-500);
  color: #eee;
  margin-bottom: -4em;
  margin-inline: .5em;
  position: relative;
  border-radius: var(--border-radius-300);
}
.cta .even-colums{
  justify-content: space-between;
  padding-block: 3rem
}
.cta p {
  padding-bottom: var(--padding-spacer-300);
}
@media  (min-width:50em) {
  .cta{
    margin-inline: var(--margin-gap-400);
  }
  .cta p {
    padding-top: var(--padding-spacer-500);
    padding-bottom:0px;
    font-size: var(--font-size-700);
  }  
}
.cta-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
  display: none;
}
.cta-wave .shape-fill {
  fill: var(--color-neutral-100);
}
.cta-wave svg {
  position: relative;
  display: block;
  width: 131%;
  height: 10px;
  transform: rotateY(180deg);
}

@media (min-width: 45em) {
  .cta-wave{
    display: block;
  }
  .cta-wave svg {
    width: 102% ;
    height: 25px;
  }
  .cta .even-colums {
    padding-top: 4rem;
  }
  
}


/* blog section */
.write-up{
  text-align: center;
  margin: 10em
}
.blog-list{
  margin-top: var(--margin-gap-400);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 20px;
}


.blog-items{
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  min-height: 20vh;
  position: relative;
  z-index: -1;
}

.blog-img{
  width: 98%;
  border: .2px solid black;
  opacity: .5;
  padding-inline:2px;
  min-height: 15vh;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-300);
}

@media screen and (min-width:45em) {
  .blog-items{
    min-width:8em;
  }
  .blog-img{
    margin-top: 0px;
    padding-top: 0px;
    min-height: 12vh;
  }
}
/************* about page**************** */
.slider-show{
  box-shadow: 0 0 4em rgba(102, 60, 180, 0.15);
  width: 100%;
  height: 50vh;
  position: relative;
  border-radius: var(--border-radius-300);
  border: 1px solid #282c75;
}
.auto-slider{
  overflow: hidden;
  border-radius: var(--border-radius-300);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0
}
@media (min-width:45em) {
  .slider-show{
    margin-inline:auto;
    width: 55%;
    height: 65vh;
  }  
}

.about-me{
  margin-top: var(--margin-gap-500);
  border-radius: var(--border-radius-400);
  border: 2px double #343997;
  padding: var(--padding-spacer-500);
}
.about-me h1{
  font-size: var(--font-size-900);
}
.tab-title{
  display: flex;
  margin-top: var(--margin-gap-500);
}
.tab-links{
  cursor: pointer;
  margin-right:var(--margin-gap-400);
  font-size: var(--font-size-500);
  position: relative;
}
@media (min-width:40em) {
  .tab-links{
    font-size: var(--font-size-600);
  }
}


@media (max-width:45em) {
  .mg-down{
    margin-bottom: 1em;
    margin-top: 10px;
  }  
}
.tab-links::after{
  content: "";
  background-color: #343997;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  transition: all 0.5s;
}
.tab-links.active-link::after{
  width: 100%;
}
.tab-content li{
  list-style: none;
  margin: 10px 0 ;
}

.tab-content li span{
  text-decoration: underline;
  font-weight: var(--font-weight-700);
}
.tab-content li a {
  text-decoration: none;
  color: var(--color-neutral-900);
}
.tab-content button{
  margin-top: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #282c75;
  color: #fff;
  border: none;
  border-radius: var(--border-radius-300);
}
.tab-content{
  display: none;
}
.tab-content.active-tab{
  display: block;
}

.list-style li{
  list-style-type:circle ;
  margin-left: var(--margin-gap-500);
}

/************* contact page**************** */
.menu-bg{
  text-align: center;
  margin-top: 1px;
  background-color: var(--color-primary-500);
  border-bottom-left-radius: var(--border-radius-400);
  border-bottom-right-radius: var(--border-radius-400);
}
.menu-h1{
  color: var(--color-neutral-100);
  font-size: var(--font-size-900);
  font-weight: var(--font-weight-900);
  padding: 2.3em 0px .8em;
}
.contact-left-side,
.contact-right-side{
  margin: var(--margin-gap-400);
  margin-top: var(--margin-gap-500);
  flex-basis: 100%;

}
@media (min-width:45em) {
  .contact-left-side{
    margin-top: 6em;
    flex-basis: 30%;
    padding: var(--padding-spacer-300);
  } 
  .contact-right-side{
    flex-basis: 65%;
    padding: var(--padding-spacer-300) 0 var(--padding-spacer-300);
  }
}

.contact-right-side form{
  width: 100%;
}
.contact-right-side input,
.contact-right-side textarea{
  width: 100%;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-500);
  border: none;
  border-radius: var(--border-radius-300);
  outline: none;
  margin-top: var(--margin-gap-400);
  padding: 4px var(--padding-spacer-300);
}
.contact-right-side fieldset{
  padding: 10px;
  box-shadow: 0 0 .8em rgba(42, 19, 68, 0.5);
  border: none;
  border-top: .1px solid #282c75;
  outline: none;
  border-radius:var(--border-radius-400) ;
}
@media (min-width:45em) {
  .contact-right-side fieldset{
    margin-left: var(--margin-gap-600);
    padding: 0 20px 20px;
  }
}
fieldset legend{
  color: var(--color-primary-500);
}
.contact-btn{
  margin-top: .6em;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--color-neutral-100);
  border: 1.5px solid #282c75;
  border-radius: var(--border-radius-300);
  color: #282c75;
  padding: 2px .8em;
}
.contact-btn:hover{
  background-color: #282c7542;
}
#contact-mgs{
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-700);
  border-radius: var(--border-radius-300);
  color: #282c75;
}
/* footer */

footer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: relative;
  padding-top: 5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-500);
  position: relative;
  z-index: -100;
}

.social-list{
  justify-content: center;
  flex-direction: row;
}
.social-list a{
  text-decoration: none;
}
.footer-fa{
  background-color:#282c75;
  color: #fff;
  font-size: var(--font-size-800);
  border-radius: 100%;
  margin: .5em;
}
